body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;
    font-weight: bold;
/*    font-family: "Palatino Sans Informal LT W04Md";
    font-family: "Comic Sans MS";*/
}

.icon {
    font-size: 48px; /* Размер иконки */
    color: black; /* Цвет иконки */
}

header, footer {
    padding: 10px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header {
    top: 0;
    left: 0;
}

header img {
    vertical-align: middle;
    horizontal-align: top;
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

footer {
    bottom: 0px;
    left: 0;
    margin-bottom: 20px;
    margin-top: 10px;
}

.info-bar {
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 95%;
    padding: 10px;
    color: white;
    border-radius: 8px;
    box-sizing: border-box;
    z-index: 1000;
}

.info-bar-desc {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: center; /* Центрирование по вертикали */
}

.info-bar a {
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    margin-bottom: 5px; /* Отступ между элементами */
    color: white;
    text-decoration: none;
}

.info-bar img {
    margin-left: 5px;
    width: 18px;
    height: 18px;
}

.adContainer {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
    overflow: scroll;
}

.ad-card {
    background: linear-gradient(to right, #1a1a1a, #333333, #666666, #999999, #b3b3b3, #d9d9d9);
    margin-bottom: 20px;
    border-radius: 12px;
    color: white;
    position: relative;
    padding-bottom: 25px;
    transform: scale(1.0);
}

/*.ad-card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.98);
    background: linear-gradient(to right, #0d0d0d, #2b2b2b, #4d4d4d, #777777, #a3a3a3);
}*/

.transform {
    transform: scale(0.98);
    background: linear-gradient(to right, #0d0d0d, #2b2b2b, #4d4d4d, #777777, #a3a3a3);
}

.ad-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 15px;
}

.ad-card p {
    font-size: 1em;
    margin-bottom: 30px;
    padding-left: 20px;
    font-weight: normal;
}

.ad-card .btn {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/*.ad-card .btn:hover {
    background-color: #6359ff;
    color: #999999;
}*/

.info-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Вертикальное выравнивание содержимого */
    justify-content: center; /* Центрирование содержимого по горизонтали */
}

.info-box img {
    margin-left: 5px; /* Отступ между текстом и изображением */
    width: 18px;
    height: 18px;
    vertical-align: middle; /* Убедитесь, что изображение выравнивается по средине строки */
}

.info-line {
    display: flex; /* Обеспечивает правильное выравнивание текста */
    align-items: center; /* Выравнивание текста по центру */
}

.bottom-nav {
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    z-index: 1000;
    margin-bottom: 20px;
    font-weight: normal;
}

.bottom-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

.bottom-nav a.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}

.bottom-nav i {
    font-size: 24px; /* Размер иконки */
    margin-bottom: 5px; /* Отступ между иконкой и текстом */
}

.bottom-nav span {
    font-size: 14px; /* Размер текста */
}

.wallet-container {
    display: flex;
    align-items: center; /* Центрирование содержимого по вертикали */
    background-color: rgba(0, 0, 0, 0);
}

.wallet-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-left: 5px;
}

.leaderboardContainer {
    margin-top: 80px;
    margin-bottom: 100px;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.leaders-list {
    margin-top: 40px;
    margin-bottom: 30px;
}

.user-card {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 5px;/*
    background: linear-gradient(to right, #1a1a1a, #333333, #666666, #999999, #b3b3b3, #d9d9d9);*/
    padding: 10px;
    border-radius: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.user-card h2 {
    font-size: 1.2em;
    margin: 0;
}

.user-card p {
    font-size: 1em;
    margin: 0;
    color: lightgray;
}

.user-card + .user-card {
    margin-top: 0; /* Убираем верхний отступ между соседними карточками */
}

.fixed-user-card {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 80px;
    border-radius: 12px;
    background-color: rgba(0, 0, 15, 0.9);
    width: 100%;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.9); /* Тонкая граница */
}

.fixed-user-card h2 {
    font-size: 1.2em;
    margin: 0;
}

.fixed-user-card p {
    font-size: 1em;
    margin: 0;
    color: lightgray;
}

.leaders-nav {
    height: 30px;
    position: fixed;
    margin-top: 0;
    background: black;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    z-index: 1000;
    font-weight: normal;
}

.leaders-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.67%;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

.leaders-nav a.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}

.coming-soon {
    color: white;
    margin-top: 170px;
    width: 100%;
    display: flex;               /* Используем Flexbox для центрирования */
    justify-content: center;     /* Центрирование по горизонтали */
    align-items: center;
}

.coming-soon a {
    font-size: 1.5em;
    text-align: center;
    color: gray;
}

.hidden {
    display: none;
}


.loader-text {
}

.loader-text::after {
    content: '...';
    animation: dots 1s steps(3, end) infinite;
}

@keyframes dots {
    0% {
        content: '';
    }
    33% {
        content: '.';
    }
    66% {
        content: '..';
    }
    100% {
        content: '...';
    }
}

.popup {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    white-space: nowrap;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: left;
    opacity: 1;
    animation: fadeOut 3s forwards;
    z-index: 1000;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
